<div class="ui-g">
  <h1 *ngIf="currentUser.id === user.id">My Profile</h1>
  <h1 *ngIf="currentUser.id !== user.id">{{user.firstName}}'s Profile</h1>
  <div class="ui-g-12">
      <div class="ui-g-4 user-card">
          <p-card header="{{user.firstName}} {{user.lastName}}" subheader="{{status}}" styleClass="ui-card-shadow">
            <p-header *ngIf="user.avatarUrl">
              <div class="avatar-container">
                <img src="{{user.avatarUrl}}" class="profile-img">
                <button pButton *ngIf="user.online" class="online-btn ui-button-rounded ui-button-success"
                type="button" pTooltip="online" tooltipPosition="bottom"></button>
              </div>
            </p-header>
            <p-header *ngIf="!user.avatarUrl">
              <div class="avatar-container">
                <img src="{{defaultAvatar}}" class="profile-img">
                <button pButton *ngIf="user.online" class="online-btn ui-button-rounded ui-button-success"
                type="button" pTooltip="online" tooltipPosition="bottom"></button>
              </div>
            </p-header>
            <p-footer *ngIf="currentUser.id !== user.id">
              <button pButton *ngIf="!isFriend()" class="card-button ui-button-primary"
              type="button" label="Add Friend" icon="pi pi-user-plus" (click)="addFriend()"></button>
              <button pButton *ngIf="isFriend()" class="card-button ui-button-success"
              type="button" label="Friends" [disabled]="true" icon="pi pi-check"></button>
              <br>
              <button pButton class="card-button ui-button-secondary"
              type="button" label="Send Message" icon="pi pi-envelope" (click)="sendMess(user.id)"></button>
            </p-footer>
            <p-footer *ngIf="currentUser.id == user.id">
              <button pButton class="card-button ui-button-primary"
              type="button" label="Edit" [routerLink]="['/user', currentUser.id, 'edit']"></button>
            </p-footer>
          </p-card>
      </div>
      
      <div class="ui-g-8">
          <p-tabView>
              <p-tabPanel header="Profile">
                  <h2><i class="pi pi-user"></i> ABOUT</h2>
                  <div class="ui-g" *ngFor="let item of userInfo | keyvalue">
                    <div class="ui-g-4" *ngIf="item.value">
                      <b>{{item.key}}:</b>
                    </div>
                    <div class="ui-g-8" *ngIf="item.value">
                        {{item.value}}
                    </div>
                  </div>
                  <!--<h2><i class="pi pi-globe"></i> ACTIVITY</h2>-->
              </p-tabPanel>
              <!--<p-tabPanel header="Photos">
                  <ng-template pTemplate="content">

                  </ng-template>
              </p-tabPanel>-->
              <p-tabPanel header="Friends">
                  <h2><i class="pi pi-users"></i> FRIENDS</h2>
                  <ng-template pTemplate="content">
                      <div id="friend" *ngFor="let friend of user.friends" class="friend-card">
                        <p-card styleClass="ui-card-shadow" id="friend {{friend.id}}">
                          <p-header [routerLink]="['/user', friend.id]" style="cursor: pointer;" *ngIf="friend.avatarUrl">
                            <div class="avatar-container">
                              <img src="{{friend.avatarUrl}}" class="friend-img">
                              <button pButton *ngIf="friend.online" class="online-btn ui-button-rounded ui-button-success"
                              type="button" pTooltip="online" tooltipPosition="bottom"></button>
                            </div>
                          </p-header>
                          <p-header [routerLink]="['/user', friend.id]" style="cursor: pointer;" *ngIf="!friend.avatarUrl">
                            <div class="avatar-container">
                              <img src="{{defaultAvatar}}" class="friend-img">
                              <button pButton *ngIf="friend.online" class="online-btn ui-button-rounded ui-button-success"
                              type="button" pTooltip="online" tooltipPosition="bottom"></button>
                            </div>
                          </p-header>
                          <div style="text-align: center;">
                              <p>
                                  {{friend.firstName}} {{friend.lastName}}
                              </p>
                              <p style="color: gray;">@{{friend.username}}</p>
                          </div>
                          <p-footer>
                            <div class="card-button" style="text-align:center;">
                              <button pButton class="friend-btn ui-button-rounded ui-button-success" [disabled]="currentUser.id == friend.id"
                                type="button" icon="pi pi-envelope" pTooltip="Send Message" tooltipPosition="bottom" (click)="sendMess(friend.id)"></button>
                              <button pButton *ngIf="currentUser.id == user.id" class="friend-btn ui-button-rounded ui-button-danger"
                                type="button" icon="pi pi-times" pTooltip="Unfriend" tooltipPosition="bottom"
                                (click)="unfriend(friend)"></button>
                            </div>
                          </p-footer>
                        </p-card>
                      </div>
                  </ng-template>
              </p-tabPanel>
          </p-tabView>
      </div>
  </div>
</div>

<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
          <div class="ui-g-6">
              <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
          </div>
          <div class="ui-g-6">
              <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
          </div>
      </div>
  </ng-template>
</p-toast>
