.card-button {
  margin-right: .25em;
  margin-left: .25em;
  width: 100%;
}

.user-card {
  max-width: 250px;
}

.tab-edit-button {
  float: right;
}

.friend-card {
  max-width: 150px;
  display: inline-block;
  padding: 10px;
}

.friend-img {
  border-radius: 3px;
}

.profile-img {
  border-radius: 3px;
}

.friend-btn {
  margin: 4px;
  max-height: 20px;
  max-width: 20px;
}
