.card-button {
  margin-right: .25em;
  margin-left: .25em;
  width: 100%;
}

.user-card {
  max-width: 250px;
}

.tab-edit-button {
  float: right;
}

.friend-card {
  max-width: 150px;
  height: 250px;
  display: inline-block;
  padding: 10px;
  margin-bottom: 15px;
}

.friend-img {
  border-radius: 3px;
}

.profile-img {
  border-radius: 3px;
}

.friend-btn {
  margin: 4px;
  max-height: 20px;
  max-width: 20px;
}

.avatar-container {
  position: relative;
}

.avatar-container .online-btn {
  position: absolute;
  top: 100%;
  left: 95%;
  transform: translate(-95%, -100%);
  -ms-transform: translate(-95%, -100%);
  font-size: 14px;
  margin: 4px;
  max-height: 20px;
  max-width: 20px;
}
