<div class="card-container">
  <mat-card style="align-items: center; height: 200px;">
    <div id="avatar">
      <img *ngIf="user.avatarUrl" src="{{user.avatarUrl}}" alt="User Avatar" height="100" width="100">
      <img *ngIf="!user.avatarUrl" src="{{defaultAvatar}}" alt="User Avatar" height="100" width="100">
    </div>
    <mat-card-header>
      <mat-card-title>{{user.firstName}} {{user.lastName}} @{{user.username}}</mat-card-title>
      <mat-card-subtitle *ngIf="user.online">online</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button mat-button *ngIf="user.id !== currentUser.id">
        <i class="material-icons">mail</i> Send a message
      </button>
      <button mat-button *ngIf="user.id === currentUser.id">
        <i class="material-icons">edit</i> Edit
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card style="margin-left: 5px; width: 81%;">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Info">
          <div class="small-box">
            <mat-list>
              <mat-list-item>
                <h3 mat-subheader>About Me:</h3>   {{ user.aboutMe }}
              </mat-list-item>
              <mat-list-item>
                <h3 mat-subheader>Email:</h3>      {{ user.email }}
              </mat-list-item>
            </mat-list>
          </div>
        </mat-tab>
        <mat-tab label="Friends">
          <div class="small-box">
             <div *ngFor="let friend of user.friends">
               <mat-card class="friend-container">
                <img *ngIf="friend.avatarUrl"
                src="{{friend.avatarUrl}}"
                alt="User Avatar"
                height="70" width="70">
                <img *ngIf="!friend.avatarUrl"
                    src="{{defaultAvatar}}"
                    alt="User Avatar"
                    height="70" width="70"> 
                <mat-card-header>
                   <mat-card-title>
                     {{friend.firstName}} {{friend.lastName}}
                     <br>
                     <a [routerLink]="['/user', friend.id]" style="color: gray">
                       @{{friend.username}}
                     </a>
                   </mat-card-title>
                   <mat-card-subtitle *ngIf="friend.online">online</mat-card-subtitle>
                 </mat-card-header>
               </mat-card>
             </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</div>
