<div class="container">


    <div style=" height: fit-content; float: left; width: 70%; margin-left: 0.1%;">

      <p-dataView #dv [value]="chats" [paginator]="false" [rows]="20"
                  [sortField]="sortField" [sortOrder]="sortOrder" filterBy="chatName">
        <p-header>
                <div style="position:relative">
                  <input type="search" style="width: 100%;" pInputText placeholder="Search" (keyup)="dv.filter($event.target.value)">
                </div>

        </p-header>
      <ng-template let-chat pTemplate="listItem">

        <div class="ui-g"
             style=" padding: 2em;border-bottom: 1px solid #d9d9d9" (click)="openChat(chat.id)">

          <div *ngIf="chat.chatType=='dialogue'" style="float: left; margin-left: -10px;  height: 70px; width: 70px; border-radius: 70px;">
            <img style="width: 65px; height: 65px; border-radius: 65px;" *ngIf="getNotYou(chat).avatarUrl" src="{{getNotYou(chat).avatarUrl}}" >
            <img style="width: 65px; height: 65px; border-radius: 65px;" *ngIf="!getNotYou(chat).avatarUrl" src="{{defaultAvatar}}">
          </div>
          <div *ngIf="chat.chatType==='chat'" style="float: left; margin-left: -10px;  height: 70px; width: 70px; border-radius: 70px;">
            <img style="width: 45px; height: 45px;  border-radius: 25px;" src="assets/images/c.png" >
          </div>

          <div *ngIf="chat.chatType==='meeting'" style="float: left; margin-left: -10px;  height: 70px; width: 70px; border-radius: 70px;">
            <img *ngIf="chat.avatarUrl" style="width: 45px; height: 45px; border-radius: 25px;" src="{{chat.avatarUrl}}" >
            <img *ngIf="!chat.avatarUrl" style="width: 45px; height: 45px; border-radius: 25px;" src="assets/images/glass.png" >
          </div>

          <div style="margin-left: 40px;  height: 90px; width: 400px; margin-top: -20px;">
            <h3 *ngIf="chat.chatType!=='dialogue'" style="color: #282828;">{{cutLine(chat.chatName)}}</h3>
            <h3 *ngIf="chat.chatType==='dialogue'" style="color: #282828;">
              {{getNotYou(chat).firstName}} {{getNotYou(chat).lastName}}</h3>
            <div *ngIf="chat.lastMessage" style="float: bottom; width: 400px; height: 30px;"
            [style.background] = "checkIfNew(chat.id)?'#f4f5f7':'white'">
              <div style="float: left; width: 30px; height: 30px; border-radius: 30px;">
                <img style="width: 25px; height: 25px; border-radius: 25px;" *ngIf="chat.lastSender&&chat.lastSender.avatarUrl" src="{{chat.lastSender.avatarUrl}}" >
                <img style="width: 25px; height: 25px; border-radius: 25px;" *ngIf="chat.lastSender&&!chat.lastSender.avatarUrl" src="{{defaultAvatar}}" class="user-img">
              </div>
              <div style="float: left; margin-left: 2px; width: 360px; color: #6D6D6D">
                {{chat.lastMessage?cutLine(chat.lastMessage):''}}
              </div>
            </div>
            <!--<div *ngIf="chat.lastMessage&&!checkIfNew(chat)" style="float: bottom; width: 400px; height: 30px; background-color: white;">-->
              <!--<div style="float: left; width: 30px; height: 30px; border-radius: 30px;">-->
                <!--<img style="width: 25px; height: 25px; border-radius: 25px;" *ngIf="chat.lastSender&&chat.lastSender.avatarUrl" src="{{chat.lastSender.avatarUrl}}" >-->
                <!--<img style="width: 25px; height: 25px; border-radius: 25px;" *ngIf="chat.lastSender&&!chat.lastSender.avatarUrl" src="{{defaultAvatar}}" class="user-img">-->
              <!--</div>-->
              <!--<div style="float: left; margin-left: 2px; width: 360px; color: #6D6D6D">-->
                <!--{{chat.lastMessage?cutLine(chat.lastMessage):''}}-->
              <!--</div>-->
            <!--</div>-->
            <div *ngIf="!chat.lastMessage" style="color: #6D6D6D; float: bottom; width: 400px; height: 30px;">
              No messages yet
            </div>
          </div>

          <div style="margin-left: 50px; width: 100px; height: 50px; color: #828282">
            {{chat.lastUpdate?parser(chat.lastUpdate):''}}
          </div>


          </div>

      </ng-template>
        </p-dataView>


      </div>

  <div style="margin-left: 72.5%;">
  <p-card [style]="{width: '310px'}" styleClass="ui-card-shadow">
    <p-header >
      <img src="Card" src="assets/images/chat.png" style="height: 130px;">
    </p-header>

    <button mat-button [routerLink]="['/chat/add']" style="margin-right: 20px;
     height: 40px; width: 284px!important;">
      <span style="color: #007ad9;">Create chat</span>
    </button>
  </p-card>
  </div>

  </div>

