
div {
    margin:0 0 0.75em 0;
    color: black;
}

p {
    color: black;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #292321;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border-radius:  50%;
}

input[type="radio"] + label span {
    background-color:#292321;
}

input[type="radio"]:checked + label span{
    background-color: darkgrey;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    transition:background-color 0.4s linear;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
    transition:background-color 0.4s linear;
}


.mat-card {

}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

.giphy {
    margin: 10px;
}

.myFont{
    font-family: Pompadur,'Comic Sans MS', cursive;
}

.myButton{
    width: 500px;
    border-style: ridge;
}

.toolbar-filler {
    flex: 1 1 auto;
}

.user-img {
    object-fit: cover;
    background: #ffffff;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    /*border: 1px solid #a6a6a6;*/
    box-shadow: 0 3px 3px 0 #a6a6a6, 0 3px 3px 0 #a6a6a6;
    margin-right: 10px;
}

.ui-g:hover {
    background-color: #f4f5f7;
}

.ui-g{
    cursor: pointer;
}








