<div class="container">

    <p-dialog header="Confirmation" [(visible)]="displayDialogBack" [responsive]="true" [style]="{ minWidth: '200px'}" [minY]="70"
              [maximizable]="false" [baseZIndex]="10000">
        <h3> Back to meeting list? </h3>
        <p>Please make sure to save before</p>
        <br />
        <p-footer>
            <button mat-raised-button color="primary" type="button" routerLink="/meeting-list" (click)="displayDialogBack = false;">
                Discard</button>
            <button mat-raised-button color="primary" type="button" (click)="displayDialogBack = false;">
                Ok</button>
        </p-footer>
    </p-dialog>

    <p-dialog [(visible)]="openMap" [responsive]="true" [style]="{ minWidth: '200px'}" [minY]="70"
              [maximizable]="false" [baseZIndex]="10000">

        <p-gmap #gmap [style]="{'width':'600px','height':'320px', 'margin-bottom': '1em'}" [options]="options" [overlays]="overlays"
                (onMapClick)="handleMapClick($event)" (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>

        <button mat-raised-button color="primary" type="button" (click)="clear()">
            Clean</button>
        <button mat-raised-button color="primary" type="button" (click)="zoomIn(gmap.getMap())" style="margin-left: 10px">
            <mat-icon>zoom_in</mat-icon></button>
        <button mat-raised-button color="primary" type="button" (click)="zoomOut(gmap.getMap())" style="margin-left: 10px">
            <mat-icon>zoom_out</mat-icon></button>

        <p-dialog showEffect="fade" [(visible)]="dialogVisible" header="New Location">
            <div class="ui-g ui-fluid" *ngIf="selectedPosition">
                <div class="ui-g-2"><label for="title">Label</label></div>
                <div class="ui-g-10"><input type="text" pInputText id="title" [(ngModel)]="markerTitle"></div>

                <div class="ui-g-2"><label for="lat">Lat</label></div>
                <div class="ui-g-10"><input id="lat" type="text" readonly pInputText [ngModel]="selectedPosition.lat()"></div>

                <div class="ui-g-2"><label for="lng">Lng</label></div>
                <div class="ui-g-10"><input id="lng" type="text" readonly pInputText [ngModel]="selectedPosition.lng()"></div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                    <button mat-raised-button color="primary" type="button" [disabled]="!markerTitle"
                            (click)="addMarker()">
                        Add</button>
                </div>
            </p-footer>
        </p-dialog>
    </p-dialog>


    <mat-card>
        <mat-card-header background-color="accent">
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="backToList()"
                        style="margin-right: 20px"><mat-icon>subdirectory_arrow_left</mat-icon>
                </button>
            </mat-card-actions>
            <h1 class = "myFont" style="margin-left: 200px;">Create your meeting</h1>
        </mat-card-header>
        <mat-card-content >
            <br />
            <p-steps [model]="items"
                     [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
            <br />
            <div>

                <mat-card-content *ngIf="activeIndex===0" style="margin-left: 50px;">
                <h3 class="first">Meeting Title</h3>
                <input size="30" pInputText [(ngModel)]="meeting.meetingName" required>
                <h3 class="first">Description</h3>
                <textarea [rows]="5" [cols]="106" pInputTextarea autoResize="autoResize"
                          [(ngModel)]="meeting.meetingDescription" required></textarea>
                <button mat-raised-button color="primary" type="button"
                        (click)="activeIndex=activeIndex+1" style="margin-left: 700px; margin-top: 50px;"
                        [disabled]="!meeting.meetingName">Next</button>
                </mat-card-content>

                <mat-card-content *ngIf="activeIndex===1" style="margin-left: 30px;">
                    <mat-card-actions>
                        <button mat-button color="primary" type="button"
                                (click)="activeIndex=0" >
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                    </mat-card-actions>
                    <div style="margin-left: 20px;">
                        <h3 class="first">Date</h3>
                        <p-calendar [(ngModel)]="meeting.dateOfMeeting" [showIcon]="true" [minDate]="minDate" dateFormat="dd/mm/yy" >

                        </p-calendar>

                        <h3 class="first">Time</h3>
                        <p-calendar [(ngModel)]="meeting.timeOfMeeting" [timeOnly]="true" >

                        </p-calendar>

                        <h3 class="first">Place</h3>
                        <input size="20" pInputText [(ngModel)]="markerTitle" [disabled]="true">

                        <button mat-raised-button color="primary" (click)="openMap=!openMap;"
                        style="margin-left: 10px;"> Map
                        </button>

                        <p-toast [style]="{marginTop: '80px'}"></p-toast>


                        <button mat-raised-button color="primary" type="button"
                            (click)="activeIndex=activeIndex+1" style="margin-left: 700px; margin-top: 50px;"
                            >Next</button>
                    </div>
                </mat-card-content>

                <mat-card-content *ngIf="activeIndex===2" style="margin-left: 20px;">
                    <mat-card-actions>
                    <button mat-button color="primary" (click)="activeIndex=1" >
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    </mat-card-actions>

                    <div style="margin-left: 30px;">
                        <mat-card-header background-color="accent">
                            <h2  style="margin-left: 200px" >Invite friends </h2>
                            <mat-card-actions>
                                <button mat-raised-button color="primary" style="margin-left: 370px" (click)="add()"
                                        [disabled]="!fixedUser">Invite</button>
                            </mat-card-actions>
                        </mat-card-header>

                        <mat-card-content style="margin-left: 150px;">

                            <mat-list>
                                <mat-list-item *ngFor="let user of users">
                                    <img mat-list-avatar src="{{user.avatarUrl}}" onerror="this.src='./user.png';">
                                    <h3 mat-line>
                                        <a mat-raised-button (click)="fix(user)" [style.width]="'200px'" [style.border-style]="user.id === fixedUserId? 'solid':'ridge'">{{user.name}}</a>
                                    </h3>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>

                        <button mat-raised-button color="primary" type="button" [disabled]="!participants.length"
                                (click)="activeIndex=activeIndex+1" style="margin-left: 700px; margin-top: 50px;"
                        >Next</button>
                    </div>
                </mat-card-content>

                <mat-card-content *ngIf="activeIndex===3" style="margin-left: 20px;">
                    <mat-card-actions>
                    <button mat-button color="primary" (click)="activeIndex=2" >
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    </mat-card-actions>
                    <div flex style="margin-left: 100px; margin-top: 10px; height: fit-content;">
                    <div style="float: left; width: 300px;">
                        <mat-card style="  height: fit-content">
                        <h3 style="color: steelblue;">Meeting title: <span style="font-size: small; color: black">
                            {{meeting.meetingName}}</span>
                        </h3>
                        <br />
                        <h3 style="color: steelblue;">Meeting date: <span style="font-size: small; color: black">
                            {{meeting.dateOfMeeting? parse(meeting.dateOfMeeting.toString()): "No date"}}
                        </span>
                        </h3>
                        <br />
                        <h3 style="color: steelblue;">Meeting time: <span style="font-size: small; color: black">
                            {{meeting.timeOfMeeting? meeting.timeOfMeeting.getHours(): "No time"}}
                            {{meeting.timeOfMeeting? ":": ""}}
                            {{meeting.timeOfMeeting? meeting.timeOfMeeting.getMinutes(): ""}} </span>
                        </h3>
                        <br />
                        <h3 style="color: steelblue;">Meeting location: <span style="font-size: small; color: black">
                            {{markerTitle? markerTitle: "No location"}}</span>
                        </h3>
                        <br />
                        </mat-card>

                    </div>
                        <div style="float: right; width: 300px; margin-right: 100px; border-color: black">
                            <mat-card>
                                <mat-card-header background-color="accent">
                                    <h3>Attach card to meeting</h3>
                                </mat-card-header>
                                <h4 *ngIf="cards!==null"><span style="color: #989898">
                                    (add new card or choose from existed)
                                </span>
                                </h4>
                                <h4 *ngIf="cards==null"><span style="color: #989898">
                                    (add card)
                                </span>
                                </h4>
                                <mat-card-content >
                                    <mat-list >
                                        <mat-list-item *ngFor="let card of cards">
                                            <button style="width: 250px!important;"
                                                    mat-raised-button [style.border-style]="card.id === fixedCardId? 'solid':'ridge'"
                                                    (click)="setCard(card)">**** **** **** {{card.lastFourNumbers}}</button>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button color="primary" [routerLink]="['/card-list/card-add']"
                                    style="margin-left: 180px;">
                                        Add new</button>
                                </mat-card-actions>


                            </mat-card>
                        </div>
                    </div>
                    <button mat-raised-button color="primary" type="button" [disabled]="fixedCardId===null"
                            (click)="createMeeting()" style="margin-left: 700px; margin-top: 50px;"
                    >Create</button>
                </mat-card-content>


            </div>

        </mat-card-content>
    </mat-card>
</div>
