<div class="container">

    <div style=" height: fit-content; float: left; width: 70%; margin-left: 0.1%;">

        <p-dataView #dv *ngIf="index===0" [value]="meetings" [paginator]="false" [rows]="20"
                    [sortField]="sortField" [sortOrder]="sortOrder" filterBy="participantOfMeeting.name">
            <p-header>
                <div style="position:relative">
                    <input type="search" style="width: 100%;" pInputText placeholder="Search" (keyup)="dv.filter($event.target.value)">
                </div>

            </p-header>
            <ng-template let-meeting pTemplate="listItem">

                <div class="ui-g" style=" padding: 2em;border-bottom: 1px solid #d9d9d9"  (click)="openMeeting(meeting)">

                    <div style="float: left; margin-left: -10px; height: 70px; width: 70px; border-radius: 70px;">
                        <img style="width: 65px; height: 65px; border-radius: 65px;" *ngIf="meeting.participantOfMeeting.avatarUrl" src="{{meeting.participantOfMeeting.avatarUrl}}" >
                        <img style="width: 65px; height: 65px; border-radius: 65px;" *ngIf="!meeting.participantOfMeeting.avatarUrl" src="{{defaultMeeting}}">
                    </div>

                    <div style="margin-left: 40px;  height: 90px; width: 400px; margin-top: -20px;">
                        <h3 style="color: #282828;">{{meeting.participantOfMeeting.meetingName}}</h3>
                        <div style="color: #6D6D6D; float: bottom; width: 400px; height: 30px;">
                            {{meeting.participantOfMeeting.amountOfParticipants}}
                            {{meeting.participantOfMeeting.amountOfParticipants>1?'participants':'participant'}}
                        </div>

                    </div>
                    <div style="margin-left: 50px; width: 150px; height: 50px; color: #828282">
                        {{meeting.participantOfMeeting.dateOfMeeting? parse(meeting.participantOfMeeting.dateOfMeeting.toString()): ""}}
                    </div>

                </div>
            </ng-template>
        </p-dataView>

        <p-dataView #dv *ngIf="index===1" [value]="meetingsPast" [paginator]="false" [rows]="20"
                    [sortField]="sortField" [sortOrder]="sortOrder" filterBy="participantOfMeeting.name">
            <p-header>
                <div style="position:relative">
                    <input type="search" style="width: 100%;" pInputText placeholder="Search" (keyup)="dv.filter($event.target.value)">
                </div>

            </p-header>
            <ng-template let-meeting pTemplate="listItem">

                <div class="ui-g" style=" padding: 2em;border-bottom: 1px solid #d9d9d9"  (click)="openMeeting(meeting)">

                    <div style="float: left; margin-left: -10px; height: 70px; width: 70px; border-radius: 70px;">
                        <img style="width: 65px; height: 65px; border-radius: 65px;" *ngIf="meeting.participantOfMeeting.avatarUrl" src="{{meeting.participantOfMeeting.avatarUrl}}" >
                        <img style="width: 65px; height: 65px; border-radius: 65px;" *ngIf="!meeting.participantOfMeeting.avatarUrl" src="{{defaultMeeting}}">
                    </div>

                    <div style="margin-left: 40px;  height: 90px; width: 400px; margin-top: -20px;">
                        <h3 style="color: #282828;">{{meeting.participantOfMeeting.meetingName}}</h3>
                        <div style="color: #6D6D6D; float: bottom; width: 400px; height: 30px;">
                            {{meeting.participantOfMeeting.amountOfParticipants}}
                            {{meeting.participantOfMeeting.amountOfParticipants>1?'participants':'participant'}}
                        </div>

                    </div>
                    <div style="margin-left: 50px; width: 150px; height: 50px; color: #828282">
                        {{meeting.participantOfMeeting.dateOfMeeting? parse(meeting.participantOfMeeting.dateOfMeeting.toString()): ""}}
                    </div>

                </div>
            </ng-template>
        </p-dataView>

        <p-dataView #dv *ngIf="index===2" [value]="meetingsNew" [paginator]="false" [rows]="20"
                    [sortField]="sortField" [sortOrder]="sortOrder" filterBy="participantOfMeeting.name">
            <p-header>
                <div style="position:relative">
                    <input type="search" style="width: 100%;" pInputText placeholder="Search" (keyup)="dv.filter($event.target.value)">
                </div>

            </p-header>
            <ng-template let-meeting pTemplate="listItem">

                <div class="ui-g" style="cursor: default!important;  background-color: white!important; padding: 2em;border-bottom: 1px solid #d9d9d9">

                    <div style="float: left; margin-left: -10px; height: 70px; width: 70px; border-radius: 70px;">
                        <img style="width: 65px; height: 65px; border-radius: 65px;" *ngIf="meeting.participantOfMeeting.avatarUrl" src="{{meeting.participantOfMeeting.avatarUrl}}" >
                        <img style="width: 65px; height: 65px; border-radius: 65px;" *ngIf="!meeting.participantOfMeeting.avatarUrl" src="{{defaultMeeting}}">
                    </div>

                    <div style="margin-left: 40px;  height: 90px; width: 400px; margin-top: -20px; cursor: pointer;" (click)="openMeeting(meeting)">
                        <h3 style="color: #282828;">{{meeting.participantOfMeeting.meetingName}}</h3>
                        <div style="color: #6D6D6D; float: bottom; width: 400px; height: 30px;">
                            {{meeting.participantOfMeeting.amountOfParticipants}}
                            {{meeting.participantOfMeeting.amountOfParticipants>1?'participants':'participant'}}
                        </div>

                    </div>
                    <div style="margin-left: 50px; width: 150px; height: 50px; color: #828282">
                        {{meeting.participantOfMeeting.dateOfMeeting? parse(meeting.participantOfMeeting.dateOfMeeting.toString()): ""}}
                    </div>


                <div style="margin-left: 100px; width: 300px; height: 50px; color: #828282;">

                    <button mat-raised-button color="primary"(click)="confirm(meeting)">
                        Confirm
                    </button>
                    <button mat-raised-button style="margin-left: 30px; background: #f4f5f7!important; color: #6D6D6D!important" color="primary" (click)="decline(meeting)">
                        Decline
                    </button>
                </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>


    <div style="margin-left: 72.5%;">
        <p-card [style]="{width: '310px'}" styleClass="ui-card-shadow">
            <p-header >
                <img src="Card" src="assets/images/meeting.png" style="height: 130px;">
            </p-header>

            <button mat-raised-button [routerLink]="['/meeting-list/create']" style="margin-right: 20px;
     height: 40px; width: 284px!important;">
                <span >Create meeting</span>
            </button>

            <button mat-button *ngIf="index===0" style="border-left-style: solid; border-color: #00539b;
            border-width: thick; background: #f4f5f7!important; margin-right: 20px;
     height: 40px; width: 284px!important;">
                <span style="color: #007ad9;" >Future meetings</span>
            </button>
            <button mat-button *ngIf="index!==0" style="margin-right: 20px;
     height: 40px; width: 284px!important; " (click)="openList(0)">
                <span style="color: #007ad9;" >Future meetings</span>
            </button>

            <button mat-button *ngIf="index===1" style="border-left-style: solid; border-color: #00539b;
            border-width: thick; background: #f4f5f7!important; margin-right: 20px;
     height: 40px; width: 284px!important; ">
                <span style="color: #007ad9;"  >Past meetings</span>
            </button>
            <button mat-button *ngIf="index!==1" style="margin-right: 20px;
     height: 40px; width: 284px!important; " (click)="openList(1)" >
                <span style="color: #007ad9;" >Past meetings</span>
            </button>

            <button mat-button *ngIf="index===2"  style="border-left-style: solid; border-color: #00539b;
            border-width: thick; background: #f4f5f7!important; margin-right: 20px;
     height: 40px; width: 284px!important; ">
                <span style="color: #007ad9;" >New meetings</span>
            </button>
            <button mat-button *ngIf="index!==2"  style="margin-right: 20px;
     height: 40px; width: 284px!important; " (click)="openList(2)">
                <span style="color: #007ad9;" >New meetings</span>
            </button>

        </p-card>
    </div>
</div>