<div class="container">
  <mat-card align="center">
    <mat-card-header background-color="accent"align="center">Do you want to send money using this card?</mat-card-header>
    <br /><br />
    <mat-card-content >
      <mat-list>
        <mat-list-item *ngFor="let card of cards">

          <div class="container-small">
            <br />
            <span class="holder" align="left">CARD HOLDER:  </span>
            <a>{{card.nameSurname}}</a><br /><br />
            <a>**** **** **** {{card.lastFourNumbers}}</a>
            <br />
            <a>{{card.dataOfExpire}}</a><br />
          </div>

        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <br />

    <mat-card-actions>
      <a mat-raised-button color='accent' routerLink="/card-list">Yes</a>
      <a mat-button routerLink="/card-list">Cancel</a>
    </mat-card-actions>


  </mat-card>
</div>