

ui-picklist-buttons{
    visibility: hidden !important;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.myTable {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-row.hovered {
    background: #ababab;
}

.mat-row.highlighted {
    background: #999;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
}

.myFont{
    font-family: Pompadur,'Comic Sans MS', cursive;
}

.footer{
    margin-top:30px;
    height: 30px;

    width: 50vw;
}
.send-button{
    margin: 0 auto;
    height: 70%;
    width: 50%;
}
input{
    float: right;
    height: 30px;
    border-radius: 15px;
    font-size: 1.5em;
}
.send{
    float: right;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

.message-col {
    vertical-align: top;
}

.cell-border {
    border: 2px solid #bbb; padding: 5px;
}

.message-item {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    color: black;
    width: 200px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 10px;
}

.message-container {
    overflow-y: auto;
    height: 400px;

    background-color: white;

}

.message-input {
    font-size: 15px;
    font-family: verdana;
    color: #202080;
}


.myButton{
    width: 500px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: black;
    font-family: Pompadur,'Comic Sans MS', cursive;
}


