<div class="wrapper">
  <p-toolbar [class]="'bl'">
    <div class="ui-toolbar-group-left">
        <b style="margin-right: 15px; font-size: 20px; color: white;" routerLink="/">{{title}}</b>
        <button pButton pTooltip="My Profile" tooltipPosition="bottom" type="button" class="ui-button-primary" icon="pi pi-home"
        [routerLink]="['/user', authService.user.id]" style="background-color: #00539B!important; border-color: #00539B!important;"></button>
        <button pButton pTooltip="My Chats" tooltipPosition="bottom" type="button" class="ui-button-primary" icon="pi pi-envelope"
        routerLink="/chat" style="background-color: #00539B!important; border-color: #00539B!important;"></button>
        <button pButton pTooltip="My Meetings" tooltipPosition="bottom" type="button" class="ui-button-primary" icon="pi pi-users"
        routerLink="/meeting-list" style="background-color: #00539B!important; border-color: #00539B!important;"></button>
        <button pButton pTooltip="My Checkbook" tooltipPosition="bottom" type="button" class="ui-button-primary" icon="pi pi-dollar"
        routerLink="/check-list" style="background-color: #00539B!important; border-color: #00539B!important;"></button>
    </div>
    
    <div class="ui-toolbar-group-right">
        <button pButton pTooltip="Help" tooltipPosition="bottom" type="button" class="ui-button-primary" icon="pi pi-question"
        routerLink="." style="background-color: #00539B!important; border-color: #00539B!important;"></button>
        <button pButton pTooltip="Search" tooltipPosition="bottom" type="button" icon="pi pi-search" class="ui-button-primary"
        routerLink="/user/search" style="background-color: #00539B!important; border-color: #00539B!important;"></button>
        <button pButton pTooltip="Settings" tooltipPosition="bottom" type="button" icon="pi pi-cog" class="ui-button-primary"
        routerLink="." style="background-color: #00539B!important; border-color: #00539B!important;"></button>
        <button pButton pTooltip="Log Out" tooltipPosition="bottom" type="button" icon="pi pi-power-off" class="ui-button-primary"
        (click)="authService.logout()" ></button>
    </div>
  </p-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
