<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


<nav class="mat-toolbar">
  <a routerLink="/">Home</a>
  <a routerLink="/user/admin">User admin</a>
</nav>

<div style="margin-top: 5px !important;float: left;">
  <router-outlet></router-outlet>
</div>

<a routerLink="/login">Log in</a>
<a (click)="logout()">Log out</a>
<a routerLink="/register">Register</a>
