
.container {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    width: 600px;
}

.myFont{
    font-family: Pompadur,'Comic Sans MS', cursive;
}

.toolbar-filler {
    flex: 1 1 auto;
}
