<div class="container">
  <mat-card>
    <mat-card-header background-color="accent">
      <mat-card-actions>
        <button mat-button style="height: 40px;" [routerLink]="['/chat']">
          <span style="margin-top: -5px; color: #007ad9;">
          <span style="margin-top: -10px; color: #007ad9; font-size: 30px;">&#8592;</span>
          Back</span>
        </button>
      </mat-card-actions>

        <form #cardForm="ngForm" (ngSubmit)="save()" style="margin-left: 50px">
          <mat-card-content>
            <input type="hidden" name="href" [(ngModel)]="newChat.href">
            <mat-form-field>
              <input matInput placeholder="Subject" [(ngModel)]="newChat.chatName"
                     required name="subject" #name>
            </mat-form-field>
          </mat-card-content>
        </form>

        <mat-card-actions>
        <button mat-raised-button color="primary" (click)="save()" type="submit"
                [disabled]="!cardForm.form.valid||empty" style="margin-left: 130px" >Create</button>
      </mat-card-actions>

    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-header background-color="accent">

        <h2 class = "myFont" style="margin-left: 100px">Add friends </h2>
      <mat-card-actions>
        <!--<button mat-raised-button color="primary" style="margin-left: 216px" (click)="add()"-->
                <!--[disabled]="!fixedUser">Add</button>-->
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content style="width: 390px; margin-left: 100px;">
      <mat-list style="height: 300px; overflow-y: auto; margin-bottom: 20px;">
        <mat-list-item *ngFor="let user of users">
          <div style=" width: 350px; height: 50px;" class="participantItem">
            <img mat-list-avatar *ngIf="user.avatarUrl"
                 style="float: left;"
                 src="{{user.avatarUrl}}">
            <img mat-list-avatar *ngIf="!user.avatarUrl"
                 style="float: left;"
                 src="{{defaultAvatar}}">
            <div style="color: black; width: 230px;
                                         margin-left: 10px; margin-top: 8px; float: left;">
              {{user.name}}
            </div>
            <div *ngIf="!checkIfAdded(user)" style="float: right; width: 40px; margin-top: -5px;
                                         cursor: pointer;" (click)="add(user)">
              <span style="font-size: 29px; color: #9b9b9b;">&#9744;</span>
            </div>
            <div *ngIf="checkIfAdded(user)" style="float: right; width: 40px; margin-top: -5px;
                                         cursor: pointer;" (click)="delete(user)">
              <span style="font-size: 29px; color: steelblue;">&#9745;</span>
            </div>

          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
        <!--<mat-list-item *ngFor="let user of users">-->

          <!--<img mat-list-avatar *ngIf="user.avatarUrl" src="{{user.avatarUrl}}">-->
          <!--<img mat-list-avatar *ngIf="!user.avatarUrl" src="{{defaultAvatar}}">-->
          <!--<h3 mat-line>-->
            <!--<a mat-raised-button style="background-color: white!important; color: black!important;" [style.width]="'200px'"-->
               <!--[style.border-style]="user.id === fixedUserId? 'solid':'ridge'" (click)="fix(user)"  >-->
              <!--{{user.name}}-->
            <!--</a>-->
          <!--</h3>-->
          <!---->
        <!--</mat-list-item>-->
      <!--</mat-list>-->
    </mat-card-content>


  </mat-card>
</div>
