<div class="container">


 <div style=" height: fit-content; float: left; width: 70%; margin-left: 0.1%;">
  <mat-card>
    <mat-card-header background-color="accent" style="height: 30px;">
      <div style="width: 700px; text-align: center;">
      <h3 class = "myFont" *ngIf="channel.chatType==='dialogue'"
          style="color: #0e0e0e; margin-top: -8px;  align-content: center;">
        {{opponent?opponent.firstName:''}} {{opponent?opponent.lastName:''}}</h3>
      <h3 class = "myFont" *ngIf="channel.chatType!=='dialogue'"
          style="color: #0e0e0e;  margin-top: -8px;">
        {{channel.chatName}}</h3>
      </div>
    </mat-card-header>

    <mat-list  id="msg-container"class="message-container" style=" border-top-style: solid; border-color: #bebebe;
     padding-bottom: 70px">
      <!--<mat-list-item *ngFor="let message of filteredMessages"-->
                     <!--class="message-item" [style.margin-right]="message.sender.id === user.id ? '5px':'auto'"-->
                     <!--[style.margin-left]="message.sender.id === user.id ? 'auto':'5px'"-->
                     <!--[style.background]="message.sender.id === user.id ? 'white':'rgba(150,150,150, 0.3)'">-->
        <!--&lt;!&ndash;<mat-icon mat-list-icon>chat</mat-icon>&ndash;&gt;-->
        <!--<h4 mat-line><b>{{message.sender.id === user.id ? 'You': message.sender.firstName}}</b>: {{message.content}}</h4>-->
      <!--</mat-list-item>-->
      <mat-list-item *ngFor="let message of filteredMessages" style="margin-top: 10px; height: fit-content;">
        <div *ngIf="!checkIfNew(message)" style="width: 100%; float: left; height: fit-content;" class="myMes">
          <div style="margin-top:5px; float: left;   height: 50px; width: 50px; border-radius: 50px;">
            <img style="width: 45px; height: 45px; border-radius: 45px;" *ngIf="!message.sender.avatarUrl" src="{{defaultAvatar}}" >
            <img style="width: 45px; height: 45px; border-radius: 45px;" *ngIf="message.sender.avatarUrl" src="{{message.sender.avatarUrl}}" >
          </div>
         <div *ngIf="message.sender.id === user.id " style="margin-top:5px; margin-left: 5px; color: #007ad9; float: left;float: top;  width: 90%; height: 20px;">
          <span>You</span>
        </div>
          <div *ngIf="message.sender.id !== user.id " style="margin-top:5px; margin-left: 5px; color: #007ad9; float: left; float: top;width: 90%; height: 20px;">
            <span>{{message.sender.firstName}}</span>
          </div>
          <div style="margin-left:5px; float: left; float: top; width: 90%; min-height: fit-content; height: auto;">
            <textarea class="textareaMessage" readonly="true" style="height: auto!important;">
              {{message.content}}
            </textarea>
          </div>
        </div>
        <div *ngIf="checkIfNew(message)" style="background-color:#f4f5f7; width: 100%; float: left; height: auto;" class="myMes">
          <div style="margin-top:5px; float: left;   height: 50px; width: 50px; border-radius: 50px;">
            <img style="width: 45px; height: 45px; border-radius: 45px;" *ngIf="!message.sender.avatarUrl" src="{{defaultAvatar}}" >
            <img style="width: 45px; height: 45px; border-radius: 45px;" *ngIf="message.sender.avatarUrl" src="{{message.sender.avatarUrl}}" >
          </div>
          <div *ngIf="message.sender.id === user.id " style="margin-top:5px; margin-left: 5px; color: #007ad9; float: left;float: top;  width: 90%; height: 20px;">
            <span>You</span>
          </div>
          <div *ngIf="!message.sender.id === user.id " style="margin-top:5px; margin-left: 5px; color: #007ad9; float: left; float: top;width: 90%; height: 20px;">
            <span>{{message.sender.firstName}}</span>
          </div>
          <div style="margin-left:5px; float: left; float: top; width: 90%; min-height: fit-content;">
            <textarea class="textareaMessage"
                     rows="{{getAmountOfRows(message.content)}}" readonly="true">
              {{message.content}}
            </textarea>
          </div>
        </div>
      </mat-list-item>

        </mat-list>


      </mat-card>

      <div style="float: left;">
        <div >
          <textarea style="width: 600px;height:100%; resize: none;" [(ngModel)]="newMessage">

          </textarea>
          <!--<input  type="text"  [(ngModel)]="newMessage"-->
                  <!--(keyup)="$event.keyCode == 13 ? sendMessage() : null" #input>-->

        </div>
        <div><button mat-raised-button color="primary" (click)="sendMessage()"><mat-icon >send</mat-icon></button></div>
      </div>
       </div>

    </div>
