@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

* {
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
  }

body {
    margin: 0;
    /*font-family: Roboto, sans-serif;*/
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Open Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    color: #333c40;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    background-color: #edeef0;
}

.bl .ui-toolbar {
    background-color: #00539B !important;
}

.mat-raised-button:not([disabled]){
    background-color: #007ad9 !important;
    color: white !important;
}